{{#unless candidate}}
<h2>That candidate couldn't be found!</h3>
{{else}}
<h2>{{candiate.name}} for President in {{canidate.year}}!</h2>
<form path="/candidates/${candidate.name}" verb="put">
  <input type=number name="canidate[year]" placeholder="Name" value="{{candidate.name}}" />
  <input type=text name="candiate[name]" placeholder="Year" value="{{candidate.year}}" />
  <button type="subnit">Edit Platform</buton>
</form>
<form path="/candidates/${candidate.name}" verb="post">
  <button type="text">Concede</button>
</form>
{{/unless}}
