{{#if candidate}}
<h2>{{candidate.name}} for President in {{candidate.year}}!</h2>
{{else}}
<h2>That candidate couldn't be found!</h2>
{{/if}}

{{!-- method="post" not "put" --}}
<form action="/candidates/{{candidate.name}}?_method=put" method="post">
  <input type="input" name="candidate[name]" placeholder="Name" value="{{candidate.name}}">
  <input type="input" name="candidate[year]" placeholder="Year" value="{{candidate.year}}">
  <input type="submit" value="Edit Platform">
</form>

<form action="/candidates/{{candidate.name}}?_method=delete" method="post">
  <input type="submit" value="Concede">
</form>
